
@import "tailwindcss";

:root {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.box-padrao {
  @apply bg-gray-100 rounded-2xl p-6 shadow flex flex-col gap-4 overflow-hidden h-full w-full;
}

.inverted-mode iframe,
.inverted-mode video,
.inverted-mode img.no-invert {
  filter: invert(1) hue-rotate(180deg);
}
